//- Input feature
//- Swappable windows thing

mixin backButton(from)
    //- Circular arrow in the top left pointing left
    a(href=from)
        div back arrow

mixin menuButton
    a(href='./html/editorMenu.pug') 
        //- TODO: replace with sandwich icon
        div menu

mixin continueButton(to)
    //- I think some of these would do well with conditional formatting, but that is probably for a separate part (renderingJS)
    a(href=to)
        div continue


mixin title(text)
    h2.title= text


mixin input(label, placeholder, field, initial)
    //- This is where to put the code for the easy reset if wanted
        Little button on the side that changes it back to default

        Maybe it could have an optional tool tip

    label= label
    input(id=field, placeholder=placeholder, value=initial)

    //- Should really be an icon
    button(onclick="document.getElementById('" + field + "').value = '" + initial + "'") Reset